@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Luckiest+Guy&family=Rubik+Lines&display=swap");
@import "tailwindcss";

@theme {
  --font-luckiest: "Luckiest Guy", serif;
  --font-audiowide: "Audiowide", serif;
}

body {
  min-height: 100vh;
  background-color: #f3f4f6;
}

button {
  cursor: pointer;
}
